.container {
	width: 500px;
	margin: 0 auto;
}
.box {
	display:block;
	width:250px;
	height:250px;
	background-color: tomato;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;

}

.box:hover {
	background-color: pink;
	width:500px;
	height:500px;
	transform: rotate(90deg);
}
body {
	margin:0;
}
nav {

	width:100%;
	top:0;
	left:0;
	background-color: grey;
	min-height: 45px;
}

.globalMenu {
	margin:0;
	padding:0;
	list-style-type:none;
}

.globalMenu > li {
	display:inline-block;
	height:30px;
	-webkit-transition: height .2s ease;
	/*background-color: teal;*/

} 
.globalMenu li:hover {
	background-color: black;
	height:45px;

}

.globalMenu a {
	display:block;
	padding:10px;
	color:white;
	text-decoration: none;
}

.globalMenu a:hover {
	text-decoration: underline;	

}




